.pie-de-pagina{
    background: #000000;
    color: #464646;
    padding: 1.5625rem 5rem;
    display: flex;
    justify-content: center;
}
.copyright{
    padding-top: 0.65rem;
    text-align: center;
}

.icon i{    
    color: rgb(255, 255, 255);
}
.icon i:hover{
    color: #000;
}
@media screen and (max-width: 500px){
    .pie-de-pagina{
    padding: 1.5625rem 1rem;
    }
}