.contacto{
    text-align: center;
    padding: 5rem;
}
.contacto__imagen{
    display: flex;
    justify-content: center;
}
.contacto__numeros{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.contacto__imagen img{
    width: 50px;
}
.contacto__imagen a{
    text-decoration: none;
    font-size: 2.5rem;
    color: #000;
}
.contacto__imagen a:hover{
    text-decoration: underline;
}
.contacto__logo{
    display: none;
}
@media screen and (max-width: 768px){
    .contacto__imagen img{
        display: none;

    }
    .contacto__imagen a{
        font-size: 2rem;
    }
    .contacto__logo{
        display: block;
        width: 100%;
        align-items: center;
    }
}

